@import url("https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap");

.videoNavBar {
  background-color: #2b507a;
  display: flex;
  align-items: center;
  width: 100vw;
  height: 10vh;
  position: relative;
  a {
    margin-left: 3vw;
    height: 50%;
  }

  .logo {
    height: 100%;
  }

  .exercisePartner {
    font-family: Montserrat, sans-serif;
    height: 25%;
    border-left: 2px solid rgb(45, 185, 178);
    display: flex;
    align-items: center;
    padding-left: 20px;
    margin-left: 20px;
    font-size: 22.5px;
    color: rgb(9, 38, 204);
  }

  .videoNavBarRight {
    position: absolute;
    right: 3vw;

    .exerciseTimer {
      font-family: "Zen Dots", cursive;
      font-size: 22.5px;
      color: black;
    }

    .endSessionButton {
      background-color: #4588d4;
      font-size: 22.5px;
      font-family: Georgia, serif;
      border: 2px solid black;
      border-radius: 12px;
      padding: 10px 20px;
      transition: 0.5s;
      color: black;
      cursor: pointer;

      &:focus {
        outline: none;
      }
    }
  }
}
